

.ipynb_checkpoints
workshop 1/.ipynb_checkpoints
workshop 1/packmol.in
workshop 1/output.csv
workshop 1/output.pdb

workshop 2/.ipynb_checkpoints
workshop 2/packmol.in

workshop 3/.ipynb_checkpoints
workshop 3/packmol.in
Untitled.ipynb
