

.ipynb_checkpoints
workshop 1/.ipynb_checkpoints
workshop 1/packmol.in
workshop 1/output.csv
workshop 1/output.pdb

workshop 2/.ipynb_checkpoints
workshop 2/packmol.in
Untitled.ipynb
workshop 2/chcl_urea.pdb
workshop 2/chcl_urea.dcd
workshop 2/chcl_urea.csv
workshop 2/packmol.out
.DS_Store

workshop sds/.DS_Store
workshop sds/.ipynb_checkpoints
workshop sds/chem3580_SDS_workshop_colab.ipynb
workshop sds/*.pdb

#old stuff 
lectorials/twisting_carbenes.ipynb
workshop 3/system.pdb
.gitignore
workshop 3/sds.dcd
workshop 3/sds_data.csv
.DS_Store
fluoride_iodide.xml
.DS_Store
